build/
*~
*.[ao]
*.swp
*.swo
.directory
debian/.debhelper/
debian/files
debian/stamp-makefile-build
debian/stamp-makefile-install
debian/tmp/
debian/zint-devel.debhelper.log
debian/zint-devel.substvars
debian/zint-devel/
debian/zint-qt-devel.debhelper.log
debian/zint-qt-devel.substvars
debian/zint-qt-devel/
debian/zint-qt.debhelper.log
debian/zint-qt.substvars
debian/zint-qt/
debian/zint.debhelper.log
debian/zint.substvars
debian/zint/
obj-x86_64-linux-gnu/
